body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fffaf5;
  color: #333;
}

.top-bar {
  text-align: right;
  padding: 10px;
  background: #ff8c42;
}

.top-bar a {
  text-decoration: none;
  background: #e65100;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.container {
  padding: 20px;
}

textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background: #e65100;
  color: white;
  border: none;
  border-radius: 5px;
}

.success {
  color: green;
  font-weight: bold;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #ff8c42;
  color: white;
}

.resolved-row {
  background: #d3d3d3;
  text-decoration: line-through;
}


.home-page {
  background: #fff3e0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.mode-buttons .btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background: #ff8c42;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.mode-buttons .admin-btn {
  background: #e65100;
}
























